.center {    
    width: 500px;
    height: 470px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: rgb(216, 208, 161);
    box-shadow: 5px 5px 40px rgb(255, 255, 255);    

   }

.text{
    color:  black;
}


