<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-title>
      REDES SOCIALES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>    
  </ion-header>
</ion-content>

<ion-card class="center">
  <ion-img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rick-and-morty-s5-2-1625139647.jpg"></ion-img>
  <ion-card-header>    
    <ion-card-title class="text" >SIGUENOS EN NUESTRAS REDES</ion-card-title>
  </ion-card-header>
  
  <ion-content>
  <ion-fab horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.youtube.com/watch?v=RNQPOsqapFk&ab_channel=NetflixLatinoam%C3%A9rica"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.facebook.com/RickandMorty/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button href="https://www.instagram.com/rickandmorty/?hl=es"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button href="https://twitter.com/RickandMorty"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
